/* Following tag is used to hide button from user view so that only glyphicon is visible */
.hidden-button {
	appearance: none;
	border: 0;
	background: transparent;
	display: inline-block;
	vertical-align: top;	
}

/* Following tags are used to align div containers for index page to show statistics */
.eventCol {
	float: right;
}

.memberCol {
	float: left;
}

/* Following tag is used to make number representations for member and event counts to not be left aligned. */
.number {
	text-align: center;
}