<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" media="screen" />
	</head>
	<body>
	<div class="navbar navbar-inverse">
		<a href="#" class="navbar-brand">Club Manager</a>
		<div class="navbar navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#" th:href="@{/}">Home</a></li>
				<li><a href="#" th:href="@{/members}">Manage Members</a></li>
				<li><a href="#" th:href="@{/events}">Manage Events</a></li>
			</ul>	
			<ul class="nav navbar-nav"  style="float: right">					
				<li><a href="#" th:href="@{/logout}">Logout</a></li>		
			</ul>		
		</div>
	</div>
		<div class="container" id="manageDiv">	
			<div class="form-group text-center">
				<h3>Event Management form</h3>
			</div>	
			<form class="form-horizontal" method="POST" th:action="@{/addEvent}" th:object="${event}">
				<div class="form-group">
				<input type="hidden" th:field="*{eventid}" />				
					<label class="control-label col-md-4">Event Name</label><!-- label takes up 4 columns of screen width-->
					<div class="input-group col-md-4">
						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
						<input type="text" class="form-control" required="required" th:field="*{eventname}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Event Date</label><!-- label takes up 4 columns of screen width-->
					<div class=" input-group col-md-4">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						<input type="date" class="form-control" data-fv-date-min="moment" required="required" placeholder="DD/MM/YYYY" th:field="*{eventdate}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Event Description</label><!-- label takes up 4 columns of screen width-->
					<div class="input-group col-md-4">
						<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
						<input type="text" class="form-control" required="required" th:field="*{eventdesc}"/>
					</div>				
				</div>
				<div class="form-group">					
					<div class="text-center">
						<button class="btn btn-primary">Submit</button>
					</div>					
				</div>
			</form>
		</div>		
	</body>
</html>