<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Club Manager 2017</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" media="screen" />
</head>
<body>
	<div class="navbar navbar-inverse">
		<a href="#" class="navbar-brand">Club Manager</a>
		<div class="navbar navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#" th:href="@{/members}">Manage Members</a></li>
				<li><a href="#" th:href="@{/events}">Manage Events</a></li>
			</ul>
		</div>
	</div>
<h1>Hello,</h1>

<h2>Welcome to Club Manager 2017. This is where basic club statistics will be seen.</h2>
<div class="container" id="mainBody">
</div>
	
</body>
</html>