<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" media="screen" />
	</head>
	<body>
		
		<h1>Hello,</h1>
		
		<h2>Welcome to Club Manager 2017. This is where basic member management will take place.</h2>
		<div class="container" id="homeDiv">
		</div>		
	</body>
</html>